@import "tailwindcss";

p {
  font-family: "DM Sans", sans-serif;
}

body {
  background: #0d0d0d;
  color: #fff;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
}
